/**common**/
*{
    margin: 0;
    padding: 0;
}
body,html{
    font-size: 14px;
    background: #ccc;
    /*overflow: hidden;*/
}
p,a{
    text-decoration: none;
    font-size: 14px;
    color: rgba(225,225,225,.8);
}
a:hover{
    color: #fff;
}
li{
    list-style: none;
}
img{
    vertical-align: top;
}
.center{
    width: 85%;
    background: #bbb;
    margin: 0 auto;
}

/**header begin*/
header{

}
header h1{
    width: 78px;
    height: 21px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 20px;
    left: 20px;
}
header h1 a{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
}
header h1 img{
    opacity: .3;
}
header .login-box{
    padding-right: 28px;
    position: fixed;
    top: 20px;
    right: 20px;
}
header .login-box a{
    margin-right: 15px;
    line-height: 30px;
}
/*header end**/

/**content begin*/
.content{
    margin: 50px 0 0;
    width: 100%;
    height: 100%;
    background: skyblue;
}
.content .center{

}
.content .content-left{
    display: inline-block;
}
.content .content-left .tool-bar{
    display: inline-block;
}
.content .content-left .tool-bar ul{

}
.content .content-left .tool-bar li{
    margin-right: 6px;
    float: left;
}
.content .content-left .tool-bar li i{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    vertical-align: -4px;
    opacity: .2;
    background: url("../images/icon_sprite.png") no-repeat -60px -20px;
}
.content .content-left .tool-bar li:hover i{
    opacity: 1;
}
.content .content-left .tool-bar li:nth-of-type(2) i{
    background-position: -20px -20px;
}
.content .content-left .tool-bar li:nth-of-type(3) i{
    background-position: -40px -240px;
}
.content .content-left .tool-bar li:nth-of-type(4) i{
    background-position: -100px -20px;
}
.content .content-left .tool-bar li:nth-of-type(5) i{
    width: 17px;
    height: 17px;
    margin-right: 1px;
    background-position: -40px -300px;
}
.content .content-left .tool-bar li a{
    display: inline-block;
    width: 74px;
    height: 36px;
    line-height: 36px;
    padding: 0 23px;
    color: rgba(255,255,255,.8);
    text-align: center;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 2px;

}
.content .content-left .tool-bar li a:hover{
    color:#fff;
    border: 1px solid rgba(255,255,255,1);
}
.content .content-left .music-box{
    width: 100%;
}
.content .content-left .music-content{

}
.content .content-left .music-content .music-list{

}
.music-list>li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-right: 100px;
    border-bottom: 1px solid rgba(255,255,255,.02);
}
.music-list>li>div{
    float: left;
}
.music-list>li>.checkbox{
    padding-right: 20px;
}

.music-list>li>.checkbox span{
    display: inline-block;
    vertical-align: -3px;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(255,255,255,.2);
}
.music-list>li>.checkbox span:hover{
    border: 1px solid rgba(255,255,255,1);
}
.music-list>li>.checked span{
    border: 1px solid rgba(255,255,255,1);
    background: url("../images/icon_sprite.png") no-repeat -60px -80px;
}

.music-list>li>.index{
    width: 20px;
    padding-right: 10px;
    text-align: right;
    cursor: default;
}
.music-list>li>.index a{
    color: rgba(225,225,225,.8);
}
.music-list>li>.title{
    width: 355px;
    height: 100%;
}

.music-list>li>.title>.title-text{
    display: inline-block;
}
.music-list>li>.title>.title-text a{
    cursor: default;
    color: rgba(225,225,225,.8);
}
.music-list>li>.title>.title-text a{

}
.music-list>li>.title>.title-control{
    float: right;
    background-color: skyblue;
    height: 100%;
    display: none;
}
.music-list>li>.title>.title-control a{
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 5px;
    margin-top: 7px;
    background: url("../images/icon_list_menu.png") no-repeat -80px 0;
}
.music-list>li>.title>.title-control a:hover{
    background-position: -120px 0;
}
.music-list>.music-list-header>.index{
    display: none;
}
.music-list>.music-list-header>.title{
    padding-left: 30px;
}
.music-list>.music-list-header a{
    color: rgba(225,225,225,.8);
    cursor: default;
}
.music-list>.music-list-content>.title>.title-control a:nth-of-type(2){
    background-position: -80px -80px;
}
.music-list>.music-list-content>.title>.title-control a:nth-of-type(2):hover{
    background-position:-120px -80px;
}
.music-list>.music-list-content>.title>.title-control a:nth-of-type(3){
    background-position: -80px -120px;
}
.music-list>.music-list-content>.title>.title-control a:nth-of-type(3):hover{
    background-position: -120px -120px;
}
.music-list>.music-list-content>.title>.title-control a:nth-of-type(4){
    background-position: -80px -40px;
}
.music-list>.music-list-content>.title>.title-control a:nth-of-type(4):hover{
    background-position: -120px -40px;
}

.music-list>li>.singer{
    padding-left: 30px;
}
.music-list>li>.duration{
    float: right;
    height: 100%;
}
.music-list .music-hover{

}
.music-list>.music-list-header>.index{
    display: none;
}
.music-list>.music-list-header>.title{
    padding-left: 30px;
}
.music-list>.music-hover .title .title-control{
    display: block;
}
.music-list>.music-hover .duration .duration-time{
    display: none;
}
.music-list>.music-hover .duration .duration-btn{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url("../images/icon_list_menu.png") no-repeat -80px -160px;
    margin-top: 7px;
}

.music-list>.music-hover .duration .duration-btn:hover{
    background-position: -120px -160px;
}



.content .content-right{

}
/*content end**/